


<style>
  h2{
    color:dodgerblue;
    text-align:center;
  }
</style>
<h2>The information of student</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th>Fullname</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
  </thead>
</table>
