
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
  height: 947px;
}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .row.content {
    height: auto;
  }
}

.info {
  font-size: 15px;
}

h2 {
  text-align: center;
  color: blueviolet;
}

h3 {
  text-align: right;
}

