



<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <h2>Welcom to GrooveTechnogogy</h2>
      <h3>My profile</h3>
      <p class="info">Username: {{student.username}}</p>
      <p class="info">Fullname: {{student.fullname}}</p>
      <p class="info">Major: {{student.major}}</p>
      <p class="info">Role: {{student.role}}</p><br />
      <button [routerLink]="['dashboard']" class="btn btn-primary btn-block">List user</button>
      <button (click)="Logout()" class="btn btn-primary btn-block">Logout</button>
    </div>
    <div class="col-sm-10">
     
      <div>
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>

